
<div class="intro">
  <h3>Manage Accounts</h3>
</div>

<!-- <div class="container"> -->

<div class="row">
  <div class="col-sm-3 add">

      <h3>Register New</h3>
      <div class="form-group">
        <div>
          <input #newName placeholder="Name">
        </div>
        <div>
          <input #newSpecialization placeholder="Specialization">
        </div>
        <div>
          <input #newLicense placeholder="license">
        </div>
        <div>
          <input #newExp placeholder="License Expiration">
        </div>
        <div>
          <input #newContact placeholder="Contact Email">
        </div>
        <div>
          <textarea rows="4" cols="40" #newBackground placeholder="Background Info"></textarea>
        </div>
        <div>
          <input #newPortfolio placeholder="Portfolio">
        </div>
        <br>
        <button (click)="submitForm(newName.value, newSpecialization.value, newLicense.value, newExp.value, newContact.value, newBackground.value, newPortfolio.value); newName.value=''; newSpecialization.value=''; newLicense.value=''; newExp.value=''; newContact.value=''; newBackground.value=''; newPortfolio.value=''">Register</button>
        <br><br><br>
      </div>
    </div>

<div class="col-sm-1"></div>

    <div class="col-sm-5 edit-area">
      <app-front-page></app-front-page>
  </div>
  </div>
<!-- </div> -->
