
.row {
  margin-left: 10px;
}

.space {
  height: 25px;
}

    .icon {
      box-radius: 3%;
      box-shadow: 1px 1px lightgray;
      margin-top: 6%;
      width: 50%;
    }

    .icon:hover {
      box-radius: 3%;
      box-shadow: 2px 2px 2px 2px lightgray;
      margin-top: 6%;
      width: 50%;
    }
    h3:hover {
      box-shadow: 2px 2px lightblue;
    }
    h5:hover {
      box-shadow: 2px 2px lightblue;
    }

    p:hover {
      box-shadow: 2px 2px lightblue;
    }

// .list-row {
//   outline: red 3px solid;
//   margin-top: 8%;
//   height: 300px;
//
//   .col-sm-3 {
//     outline: orange 3px solid;
//     padding: 10px;
//     margin: 30px;
//     height: 150px;
//     display: inline-block;
