<div class="hero1">
  //insert pic or something here. HERO
  <br><br>
    //HERO      //HERO      //HERO
    <br><br>
          //HERO      //HERO        //HERO
</div>

<div class="row list-row">
  <div class="col-sm-3 each" (click)="toDetailPage(contract)" *ngFor="let contract of contractors | async">
    <div class="icon">
      <h4>{{contract.name}}</h4>
      <h5>{{contract.specialization}}</h5>
    </div>

  </div>
</div>

<div class="hero2">
  //insert pic or something here. HERO
  <br><br>
    //HERO      //HERO      //HERO
    <br><br>
          //HERO      //HERO        //HERO
</div>
