

<div class="container">

  <div class="row space"></div>
  <div class="row space"></div>

  <h2>Contractor Profiles</h2>

  <div class="row space"></div>

<select class="type" (change)="onSelect($event.target.value)">
  <option value="0">All</option>
  <option value="1">Kitchen</option>
  <option value="2">Patio</option>
  <option value="3">Outdoor</option>
  <option value="4">Bathroom</option>
</select>

  <div class="row">
  <div class="col-sm-7">
  <div class="each" *ngFor="let contract of contractors | async | specialty:filterType">
    <div class="icon">
      <h3 (click)="toDetailPage(contract)">{{contract.name}}</h3>
      <h5 (click)="toDetailPage(contract)">Specialization: {{contract.specialization}}</h5>
      <p (click)="toDetailPage(contract)">License Number: {{contract.license}} || <em>Exp.{{contract.licexpire}}</em></p>
      <p (click)="toDetailPage(contract)">Contact: {{contract.contact}}</p>
    </div>
    <div *ngIf="currentRoute === '/admin'">
      <hr>
      <button type="button" (click)="toEditCont()">Edit</button>
      <div *ngIf="editContractor">
        <app-edit-contractor [selectedContractor]="contract"></app-edit-contractor>
      </div>
    </div>
  </div>
</div>
</div>

</div>

<div class="row space"></div>
<div class="row space"></div>
