.space-lg {
  height: 60px;
}

.info-card {
  box-shadow: 2px 2px 3px 2px gray inset;
  padding: 10px;
  background-color: lightgray;
  border-color: green;
}

.space-sm {
  height: 25px;
}

h3 {
  padding: 8px;
}

h2 {
  padding: 8px;
}

h4 {
  padding: 8px;
}

h5 {
  padding: 8px;
}

img{

}
